MergeWar/Service References/JavaServer/SCPInquireServiceImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SCPInquireServiceImplService" targetNamespace="http://service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="addTerminalManageList" type="tns:addTerminalManageList" />
      <xs:element name="addTerminalManageListResponse" type="tns:addTerminalManageListResponse" />
      <xs:element name="queryListCollision" type="tns:queryListCollision" />
      <xs:element name="queryListCollisionResponse" type="tns:queryListCollisionResponse" />
      <xs:element name="queryListFollow" type="tns:queryListFollow" />
      <xs:element name="queryListFollowResponse" type="tns:queryListFollowResponse" />
      <xs:element name="queryTerminalManageList" type="tns:queryTerminalManageList" />
      <xs:element name="queryTerminalManageListResponse" type="tns:queryTerminalManageListResponse" />
      <xs:element name="updateTerminalManageList" type="tns:updateTerminalManageList" />
      <xs:element name="updateTerminalManageListResponse" type="tns:updateTerminalManageListResponse" />
      <xs:complexType name="addTerminalManageList">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addTerminalManageListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryListFollow">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryListFollowResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryListCollision">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryListCollisionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryTerminalManageList">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryTerminalManageListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateTerminalManageList">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateTerminalManageListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="SolrServerException" type="tns:SolrServerException" />
      <xs:complexType name="SolrServerException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="IOException" type="tns:IOException" />
      <xs:complexType name="IOException">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="addTerminalManageList">
    <wsdl:part name="parameters" element="tns:addTerminalManageList" />
  </wsdl:message>
  <wsdl:message name="SolrServerException">
    <wsdl:part name="SolrServerException" element="tns:SolrServerException" />
  </wsdl:message>
  <wsdl:message name="queryListFollowResponse">
    <wsdl:part name="parameters" element="tns:queryListFollowResponse" />
  </wsdl:message>
  <wsdl:message name="queryListCollision">
    <wsdl:part name="parameters" element="tns:queryListCollision" />
  </wsdl:message>
  <wsdl:message name="queryTerminalManageList">
    <wsdl:part name="parameters" element="tns:queryTerminalManageList" />
  </wsdl:message>
  <wsdl:message name="updateTerminalManageListResponse">
    <wsdl:part name="parameters" element="tns:updateTerminalManageListResponse" />
  </wsdl:message>
  <wsdl:message name="addTerminalManageListResponse">
    <wsdl:part name="parameters" element="tns:addTerminalManageListResponse" />
  </wsdl:message>
  <wsdl:message name="queryListFollow">
    <wsdl:part name="parameters" element="tns:queryListFollow" />
  </wsdl:message>
  <wsdl:message name="updateTerminalManageList">
    <wsdl:part name="parameters" element="tns:updateTerminalManageList" />
  </wsdl:message>
  <wsdl:message name="IOException">
    <wsdl:part name="IOException" element="tns:IOException" />
  </wsdl:message>
  <wsdl:message name="queryListCollisionResponse">
    <wsdl:part name="parameters" element="tns:queryListCollisionResponse" />
  </wsdl:message>
  <wsdl:message name="queryTerminalManageListResponse">
    <wsdl:part name="parameters" element="tns:queryTerminalManageListResponse" />
  </wsdl:message>
  <wsdl:portType name="SCPInquireService">
    <wsdl:operation name="addTerminalManageList">
      <wsdl:input name="addTerminalManageList" message="tns:addTerminalManageList" />
      <wsdl:output name="addTerminalManageListResponse" message="tns:addTerminalManageListResponse" />
      <wsdl:fault name="SolrServerException" message="tns:SolrServerException" />
      <wsdl:fault name="IOException" message="tns:IOException" />
    </wsdl:operation>
    <wsdl:operation name="queryListFollow">
      <wsdl:input name="queryListFollow" message="tns:queryListFollow" />
      <wsdl:output name="queryListFollowResponse" message="tns:queryListFollowResponse" />
    </wsdl:operation>
    <wsdl:operation name="queryListCollision">
      <wsdl:input name="queryListCollision" message="tns:queryListCollision" />
      <wsdl:output name="queryListCollisionResponse" message="tns:queryListCollisionResponse" />
    </wsdl:operation>
    <wsdl:operation name="queryTerminalManageList">
      <wsdl:input name="queryTerminalManageList" message="tns:queryTerminalManageList" />
      <wsdl:output name="queryTerminalManageListResponse" message="tns:queryTerminalManageListResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateTerminalManageList">
      <wsdl:input name="updateTerminalManageList" message="tns:updateTerminalManageList" />
      <wsdl:output name="updateTerminalManageListResponse" message="tns:updateTerminalManageListResponse" />
      <wsdl:fault name="SolrServerException" message="tns:SolrServerException" />
      <wsdl:fault name="IOException" message="tns:IOException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SCPInquireServiceImplServiceSoapBinding" type="tns:SCPInquireService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addTerminalManageList">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="addTerminalManageList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addTerminalManageListResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SolrServerException">
        <soap:fault use="literal" name="SolrServerException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryListFollow">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="queryListFollow">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="queryListFollowResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryListCollision">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="queryListCollision">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="queryListCollisionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryTerminalManageList">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="queryTerminalManageList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="queryTerminalManageListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTerminalManageList">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="updateTerminalManageList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateTerminalManageListResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SolrServerException">
        <soap:fault use="literal" name="SolrServerException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SCPInquireServiceImplService">
    <wsdl:port name="SCPInquireServiceImplPort" binding="tns:SCPInquireServiceImplServiceSoapBinding">
      <soap:address location="http://192.168.0.92:8989/mytest/myInterface" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>